body {
  @include Monserat-font;
  margin: 0;
  padding: 0;
  color: white;
  background: #333333;
  overflow-x: hidden;
  margin: 16px;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
