.feature {
  margin-block-start: 26px;
  position: relative;
}

.feature--container {
  background: #181719;
  position:absolute;
  width: 85%;
  padding-block-start: 23px;
  padding-inline-start: 26px;
  left: 11%;
  top: 80%;
  right: 10%
}

.feature--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature--contents {
  display: flex;
  flex-direction: column;
}

.feature__img--profile {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.feature--name,
.feature--profession {
  margin-inline-start: 16px;
  font-size: 12px;
  line-height: 15px;
}

.feature--date {
  @include Lora-font;
  font-size: 18px;
  width: 40%
}

@media (min-width:1000px) {

  .main--container {
    @include container;
    display: flex;
    margin-block-start: 171px;
  }

  .feature {
    flex-basis: 217%;
  }

  .masthead {
    padding-inline-end: 87px;
  }

  .masthead__heading {
    font-size: 48px;
    line-height: 61px;
  }

  .masthead--desc {
    font-size: 24px;
    line-height: 29px;
  }

  .feature--container {
    width: 55%;
    left: 40%;
    top: 84%;
    right: 10%;
  }

  .feature--date {
    font-size: 24px;
    line-height: 31px;
    width: 90%;
  }

}
