.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  @include Crimson-font;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid white;
  padding: 8px;
  text-transform: uppercase;
}

body > input[type="checkbox"]:checked ~ header .header__navigation {
  transform: translateX(0%);
}

.header__input {
  visibility: hidden;
}

.header__navigation {
  padding: 16px;
  background: #181719;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  transform: translateX(-110%);
  transition: transform 0.3s;
}

.header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 50%;
}

.header__items {
  margin-block-start: 32px;
}

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 0;
  bottom: 0;
  left: auto;
  width: 48px;
  height: 48px;
}

.header--icon-menu {
  color: transparent;
  background-image: url("../images/menu-icon.svg");
  background-repeat: no-repeat;
}

.header--toggle {
  color: transparent;
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  position: relative;
  right: -94%;
}

@media (min-width: 1000px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .header__heading {
    margin: 0;
  }

  .header--icon-menu,
  .header--toggle {
    background-image: none;
  }

  .header__navigation {
    padding: 0;
    background: transparent;
    position: unset;
    z-index: 3;
    transform: none;
    transition: none;
    flex-basis: 40%;
  }

  .header__list {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 8px;
    margin: 0;
  }

  .header--active {
    font-size: 18px;
    line-height: 22px;
  }
}
