.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  border: 1px solid white;
  padding: 8px;
}

body > input[type="checkbox"]:checked ~ header .header__navigation {
  transform: translateX(-250%);
}

.header__input {
  visibility: hidden;
}

.header__navigation {
  padding: 16px;
  background: #181719;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  transform: translateX(146%);
  transition: transform 0.3s;
}

.header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 50%;
}

.header__items {
  margin-block-start: 32px;
}

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 0;
  bottom: 0;
  left: auto;
  width: 48px;
  height: 48px;
}

.header--icon-menu {
  color:transparent;
  background-image: url('../images/menu-icon.svg');
  background-repeat: no-repeat;
}

.header--toggle {
  color:transparent;
  background-image: url('../images/close-icon.svg');
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  position: relative;
  right: -94%;
}

@media (min-width:1000px) {

  .header {
    display: flex;
    flex-direction: row;
  }

  .header--icon-menu,
  .header--toggle {
    background-image: none;
  }

  .header__navigation {
  padding: 0;
  background: transparent;
  position: absolute;
  z-index: 3;
  top: auto;
  left: auto;
  bottom: auto;
  width:auto;
  height: auto;
  transform: none;
  transition: none;
}

  .header__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
